<!-- Barra de navegación -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- Marca de la barra de navegación -->
    <a class="navbar-brand text-secondary" href="#">Start Bootstrap</a>
    
    <!-- Botón de menú para pantallas pequeñas -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- Contenedor de enlaces de navegación colapsables -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <!-- Enlace de navegación -->
        <li class="nav-item">
          <a class="nav-link active text-secondary" aria-current="page" href="#">About</a>
        </li>
        <!-- Enlace de navegación -->
        <li class="nav-item">
          <a class="nav-link text-secondary" href="#">Services</a>
        </li>
        <!-- Enlace de navegación -->
        <li class="nav-item">
          <a class="nav-link text-secondary" href="#">Portfolio</a>
        </li>
        <!-- Enlace de navegación -->
        <li class="nav-item">
          <a class="nav-link text-secondary" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>