<!-- Contenedor para la imagen con texto superpuesto -->
<div class="position-relative">
    <!-- Imagen responsiva -->
    <img src="/website/assets/img/bg.jpg" class="img-fluid" alt="...">
    
    <!-- Texto superpuesto centrado -->
    <div class="position-absolute top-50 start-50 translate-middle text-center p-3">
        <!-- Fondo semi-transparente para el encabezado principal -->
        <div class="bg-white bg-opacity-75 p-3">
            <!-- Texto del encabezado principal ajustado para dispositivos móviles -->
            <h1 class="display-6 display-md-4 display-lg-3 fw-bold m-0">One Page Wonder</h1>
        </div>
        
        <!-- Fondo semi-transparente para el subtítulo -->
        <div class="bg-white bg-opacity-75 p-3 mt-3">
            <!-- Texto del subtítulo ajustado para dispositivos móviles -->
            <p class="lead fs-6 fs-md-4 fs-lg-3 fw-bold m-0">Will Knock Your Socks Off</p>
        </div>
    </div>
</div>
      
